.p-contextmenu {
  font-size: 0.8rem;
  border-radius: 7px;
  overflow: hidden !important;
  width: fit-content;
  min-width: 12.5rem;
}

.ctx-menu-header {
  display: flex;
  justify-content: center;
  background: #cf612e;
  padding: 5px 8px;
}

.ctx-menu-header img {
  width: 80px;
  height: 20px;
}

.ctx-menu-item {
  padding: 6px 8px;
  cursor: pointer;
}

.ctx-menu-item:hover {
  background-color: #eead7e;
}

.ctx-menu-no-actions {
  padding: 6px 8px;
}
